@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.gradient1 {
  background: linear-gradient(
    90deg,
    #ff33b4, /* First color (left) */  
    #5733ff /* Third color (right) */
  );
}

.toMid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-text {
  background: linear-gradient(to right, #ff33b4, #5733FF);
  background-clip: text;
  color: transparent;
  /* You can adjust other text properties as needed */
}

.smooth{
  transition: all 0.2s linear;
}

.gradient-border {
  border-image: linear-gradient(to right, #ff33b4, #5733FF) 10;
}

.button1{
  @apply gradient1 text-white px-3 py-1 rounded-md shadow-md hover:opacity-80 smooth;
}
.button2{
  @apply text-white px-3 py-1 rounded-md shadow-md hover:opacity-80 smooth;
}

.inputtxt{
  @apply focus:outline-none border-2 rounded-md py-1 px-3 ;
}