@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  --primary-color: #ff33b4;
  --secondary-color: #5733ff;
  --accent-color-1: #05cc01;
  --accent-color-2: #e0e002;
}
.gradient1 {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}
.gradient2 {
  background: linear-gradient(120deg, var(--accent-color-1), var(--accent-color-2));
}
.toMid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-text {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  background-clip: text;
  color: transparent;
}
.gradient-text2 {
  background: linear-gradient(to right, var(--accent-color-1), var(--accent-color-2));
  background-clip: text;
  color: transparent;
}
.smooth{
  transition: all 0.2s linear;
}

.gradient-border {
  border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 10;
}
.gradient-border2 {
  border-image: linear-gradient(to right, var(--accent-color-1), var(--accent-color-2)) 10;
}

.button1{
  @apply gradient1 ;
}
.button3{
  @apply gradient2 ;
}
.button3 , .button2 , .button1{
  border-radius: 0.375rem;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
}
.inputtxt{
  @apply focus:outline-none border-2 rounded-md py-1 px-3 ;
}